//Colours
$black: #000;
$white: #FFF;
$ghost-white: #F7F8F9;

//Theme
$body-background: $white;
$text-colour: #111;
$brand: #44595E;
$accent: #FFC76F;
$link: #AF6B20;

//General
$primary: $link;
$primary-contrast: $black;

//Forms
$input-border: #999;
$error: #FB2925;
$success: #3AFB2F;

//Numeric Values
$container-width: 1400px;

//Font Stacks
$primary-font: 'Helvetica', 'Arial', sans-serif;

//Font Weights
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-bold: bold;
