.contact-section {
  .site-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    a {
      line-height: 28px;
      font-size: 20px;
      color: #3c3c62;
      transition: all 0.3s;
      display: block;
      width: 340px;
      margin: 0;
      &:hover {
        font-weight: 700;
        color: #8686ac;
        letter-spacing: 0.5px;
        bottom: 0;
      }
    }
    h3 {
      font-family: "Roboto-Bold";
      line-height: 33px;
      font-size: 20px;
      letter-spacing: 0.2px;
    }
  }
}

html{
  scroll-behavior: smooth;
}